@import "tailwindcss";

:root {
  --background: #f5f7fb;
  --foreground: #0f172a;
}

@theme {

  /* Primary */
  --color-primary: #7152F3;
  --color-sidebar:#7152F30D;

  /* Base */
  --color-bg: #f8fafc;
  --color-white: #ffffff;
  --color-black: #000000;

   /* thead ka text color */
   --color-gray-muted: #A2A1A8;
   /* thead ka color */
  --color-light: #A2A1A81A;
   /* tbody ka text color */

   /* sidebor ka bg */
   --color-light-gray: #A2A1A80D;

   /* stats card ka border */
   --color-border-light: #A2A1A833;


   --color-dark: #16151C;

  /* Gray Scale */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
  --color-gray-500: #64748b;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1e293b;
  --color-gray-900: #0f172a;
  --color-gray-950: #16151C;
}


/* Dark Mode */

.dark {

   /* thead text color */
  --color-gray-muted: #C7C7CC;

  /* thead background/border color */
  --color-light: #FFFFFF14;

  /* tbody text color */
  --color-dark: #FFFFFF;

  --color-border-light: #A2A1A833;

  --background: #020617;
  --foreground: #f8fafc;

  /* Base */
  --color-bg: #020617;
  --color-white: #0f172a;
  --color-black: #ffffff;

  --color-light-gray: #2A2A2A80;
  /* Gray Scale */
  --color-gray-50: #020617;
  --color-gray-100: #0f172a;
  --color-gray-200: #1e293b;
  --color-gray-300: #334155;
  --color-gray-400: #475569;
  --color-gray-500: #64748b;
  --color-gray-600: #94a3b8;
  --color-gray-700: #cbd5e1;
  --color-gray-800: #e2e8f0;
  --color-gray-900: #f8fafc;

  --color-gray-950: #ffffff;
  /* Primary */
  --color-primary: #8B74FF;
}


.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background-color: #e8ebf1;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  height: 4px;
  width: 4px;
  background-color: #3f67a7;
  border-radius: 100px;
}

.font-lexend {
  font-family: var(--font-lexend);
}


.scrollbar-hidden {
  scrollbar-width: none;
}


.shadow {
  @apply shadow-[0px_4px_4px_0px_#00000040];
}

.gradient {
  background: linear-gradient(90deg, #ad46ff 0%, #f6339a 100%);
  transition: all 0.3s ease-in-out;
}

.red-gradient {
  background: linear-gradient(96.18deg,
      #C83300 -2.22%,
      #E35545 48.89%,
      #FFA98B 100%);
  transition: all 0.3s ease-in-out;
}